.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-top: 90px;
  padding-bottom: 40px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
  margin-bottom: 30px;
  width: calc((100% / 4) - 40px);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.info-item {
  text-align: center;
  font-size: 14px;
}

img {
  width: 100%;
  height: auto;
}
